/*Classes .*/
.header{
    width: 100%;
    height: 100px;
    padding: 3px;
    color: #d9d9d9;
    background-color: slategray;    
}



.ticket{
    width: 31%;
    height: auto;
    margin: 7px;
    padding: 2px;
    display: inline-block;
    background-color: #d9d9d9;
    border-radius: 10px;
    border: 1px solid black;
}

#statusOpen{
    background-color:rgba(112, 128, 144, 0.757);
    border: 1px solid black;
    width: 97%;
    height: 250px;
    margin: 10px;
    padding: 8px;
}

#statusResolved{
    background-color: rgba(112, 128, 144, 0.757);
    border: 1px solid black;
    width: 97%;
    height: 250px;
    margin: 10px;
    padding: 8px;
}

#statusOverdue{
    background-color: rgba(112, 128, 144, 0.757);
    border: 1px solid black;
    width: 97%;
    height: 250px;
    margin: 10px;
    padding: 8px;
}

#sum{
    padding: 5px;
    margin: 5px;
    height: fit-content;
}

#prio{
    padding: 5px;
    margin: 5px;
    background-color: #94a8ae;
    border-radius: 10px;
    border: 2px solid black;
    float: left;
}

#assign{
    padding: 2px;
    margin: 7px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    float: right;
}

body{
    background-color:rgb(39, 39, 39);
}

h1{
    color: black;
    font-weight: 600;
    font-size: 30px;

}